# Ignore enviroment variables
.env

# Ignore tests on the work
.vscode/

# Ignore packages in progess
example_client.py
example_accounts.py
example_voicemail.py


# Ignore pycache
**/__pycache__/

# Ignore builder files
dist/