# Ignore enviroment variables
.env

# Ignore tests on the work
.vscode/

# Ignore packages in progress
forwarding.py

# Ignore examples in progess
example_client.py
example_voicemail.py
example_forwarding.py


# Ignore pycache
**/__pycache__/

# Ignore builder files
dist/